.front{
    background-color: #E2E2D4;
    height: 2.13in;
    width: 3.35in;
    margin-bottom: 1in;
    border: 1px solid black;
    box-shadow: 1px 1px 20px black;
}
.compname{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    word-wrap: break-word;
 
}
.slogan{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0%;
    font-style: italic;
}
.back{
    background-color: #FBFBEB;
    height: 2.13in;
    width: 3.35in;
    border: 1px solid black;
    box-shadow: 1px 1px 20px black;
}
.others{
    margin-left: 2em;
    padding-top: 0.1em;
  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
#pdf-content{
    display: grid;
    justify-content: center;
    margin-top: 2em;
}
.inputs{
    width: 50%;
    margin: 0 auto;
}
.inputs input{
    margin-bottom: 0.5em;
    padding: 0.4em;
}
button{
    background-color: blue;
    border: transparent;
    width: 8em;
    height: 2em;
    border-radius: 50px;
    font-size: 15px;
    font-weight: bold;
    color: white;
}